@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    letter-spacing: 1px;
    font-family: 'Mouse Memoirs', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important
}