.itemChat{
    width: 100%;
    margin:2.5px 0;
    &__cham{
        font-weight: 700;
        margin: 0 5px;
        font-size: 16px;

    }
    &__user{
        // background-color: red;
        & .user{
            width: auto;
            background-color: transparent;
        }
    }
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    &__content{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        width: 77%;
        max-width: 77%;
        padding-top: 5px;
        & span{
            width: 100%;
            word-wrap:break-word;
            line-height: 20px;
        }
    }
    &__boxContent{
        border-radius: 10px;
        width: 100%;
        flex-direction: row;
    }
}