.user{
    font-weight: 700;
    margin:0 0 5px 0;
    display: flex;
    align-items: center;
    // padding: 5px 0;
    background-color: rgb(235 165 82);
    border-radius: 5px;
    width: 100%;
    transition: .1s;
    cursor: pointer;
    &:hover{
        background-color:rgb(250 135 1 / 80%);
    }
    &:last-child{
        margin:0;
    }
    & span{
        text-shadow:1px 1px 2px #090909;;
        font-size: 19px;
        margin-left: 5px;
    }
    & img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        // background-color: red;
    }
}